A tuple is a collection that is:

- Ordered: The items have a defined order.
- Immutable: Once a tuple is created, you cannot change its values.
- Allows duplicates: Tuples can have items with the same value.

In [44]:
# Example of a tuple
coordinates = (10, 20, 30)
print(coordinates)

(10, 20, 30)

In [45]:
# Accessing the first item
print(coordinates[0])  # Output: 10

10

In [46]:
# Unpacking a tuple
x, y, z = coordinates
print(x, y, z)  # Output: 10 20 30

10 20 30

In [47]:
# Example of tuple and its operations

# Create a tuple
t = (1, 2, 3, 4, 5)

# Length of the tuple
print(len(t))  # Output: 5

5

In [48]:
# Concatenation
t2 = (6, 7, 8)
t3 = t + t2
print(t3)  # Output: (1, 2, 3, 4, 5, 6, 7, 8)

(1, 2, 3, 4, 5, 6, 7, 8)

In [49]:
# Repetition
t4 = t * 2
print(t4)  # Output: (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

A dictionary is a collection that is:

- Unordered: The items have no defined order.
- Changeable: You can add, remove, and change dictionary items.
- No duplicate keys: Dictionaries cannot have two items with the same key, but they can have duplicate values.

# Python Dictionaries 
    - dictionary are created using  {}
    - items in dictionaries are key:value based NOT on index basis

In [50]:
# creating an empty dict
record1 = {}
type(record1)

dict

In [51]:
# Example of a dictionary
student_scores = {"John": 85, "Alice": 90, "Bob": 78}
print(student_scores)

{'John': 85, 'Alice': 90, 'Bob': 78}

In [52]:
# Accessing value by key
print(student_scores["John"])  # Output: 85

85

In [53]:
# Changing the value for 'Alice'
student_scores["Alice"] = 95
print(student_scores)  # Output: {'John': 85, 'Alice': 95, 'Bob': 78}

{'John': 85, 'Alice': 95, 'Bob': 78}

In [54]:
student_scores["Eve"] = 88  # Adds a new key-value pair
student_scores

{'John': 85, 'Alice': 95, 'Bob': 78, 'Eve': 88}

In [55]:
# creating a dic with items ( key:value) pair
record2 = {"laptop":20000, 'keyboard':5000, 'bag':3000}
len(record2)

3

In [56]:
# retriving data from a dictionary
# based on keys only
record2['bag']

3000

### delete elements from a dictionary
  - pop 
  - pop items
  -  del

In [57]:
del record2['bag']

In [58]:
record2

{'laptop': 20000, 'keyboard': 5000}

In [59]:
record2.pop('laptop')

20000

In [60]:
record2

{'keyboard': 5000}

In [63]:
record2 = {"laptop":20000, 'keyboard':5000, 'bag':3000}
# removes last key-value pair from list. 
print(record2.popitem())
print(type(record2.popitem()))
record2

('bag', 3000)
<class 'tuple'>

{'laptop': 20000}

In [62]:
record1

{}

In [20]:
record1['name'] = "Ali"
record1

{'name': 'Ali'}

In [21]:
record1['email'] = "ali@gmail.com"
record1

{'name': 'Ali', 'email': 'ali@gmail.com'}

In [22]:
# repeated keys will reassign new updated value in memory
# previous one will be updated
temp_dic = {1:1, 2:8, 3:27,4:64,5:125, 2:88}
temp_dic

{1: 1, 2: 88, 3: 27, 4: 64, 5: 125}

In [23]:
temp_dic = {1:'one', 2:'eight', 3:'twenty seven','four':64,5:125}
temp_dic

{1: 'one', 2: 'eight', 3: 'twenty seven', 'four': 64, 5: 125}

In [25]:
temp_dic[3]

'twenty seven'

In [27]:
'twenty seven'[1]

'w'

In [28]:
temp_dic[3][1]

'w'

In [29]:
sales = {
         'items':     ['cell','grinder','tv','laptop'],
         'price':     [1200,2000,25000,50000],
          'sale_man': ['nasir', 'waseem', 'umer', 'khan'],
          "units":    [200, 5,50,20]
        }

A set is a collection that is:

- Unordered: The items have no defined order.
- Unindexed: You cannot access set items by index.
- No duplicate items: Sets cannot have two items with the same value.

In [31]:
# Example of a set
fruit_set = {"apple", "banana", "cherry"}
print(fruit_set)

{'banana', 'cherry', 'apple'}

In [32]:
fruit_set.add("orange")
print(fruit_set)  # Output will include 'orange'

{'banana', 'cherry', 'orange', 'apple'}

In [33]:
fruit_set.remove("banana")  # Removes 'banana' from the set

In [37]:
# Union of two sets
set1 = {"apple", "banana", "cherry"}
set2 = {"cherry", "date", "elderberry"}
union_set = set1.union(set2)
print(union_set)  # Output: {'apple', 'banana', 'cherry', 'date', 'elderberry'}

# Intersection of two sets
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {'cherry'}


# Difference of two sets
diff_set = set1.difference(set2)
print(diff_set)  # Output: {'apple', 'banana'}

diff_set1 = set2.difference(set1)
print(diff_set1)  # Output: {'date', 'elderberry'}

{'banana', 'elderberry', 'cherry', 'apple', 'date'}
{'cherry'}
{'banana', 'apple'}
{'elderberry', 'date'}